In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [14]:
#Ans1-

import pandas as pd

# Create the Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [15]:
type(my_series)

pandas.core.series.Series

In [ ]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [11]:
#Ans2-

d1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
my_series1 = pd.Series(d1)

In [13]:
my_series1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [24]:
#Q3. Create a Pandas DataFrame that contains the following data:

#Ans-

df1 = {"Name" : ["Alice", "Bob", "Clair"],
       "Age" : [25, 30, 27],
       "Gender" : ["Female", "male", "Female"]
}

In [25]:
df1

{'Name': ['Alice', 'Bob', 'Clair'],
 'Age': [25, 30, 27],
 'Gender': ['Female', 'male', 'Female']}

In [30]:
# Create a DataFrame from the dictionary
df2 = pd.DataFrame(df1)

# Write the DataFrame to a CSV file
df2.to_csv("df1.csv")

print(df2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    male
2  Clair   27  Female

In [31]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#Ans-

'''DataFrame and Series are two important data structures in the pandas library in Python, and they are used to handle tabular data.

A Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a database table. 
A DataFrame, on the other hand, is a two-dimensional labeled data structure that can hold multiple Series objects. It is similar to a spreadsheet or a database table.

Here's an example that illustrates the difference between Series and DataFrame in pandas:'''



# Create a Series
series_data = pd.Series([1, 2, 3, 4, 5])

# Print the Series
print("Series:")
print(series_data)

# Create a DataFrame
df_data = pd.DataFrame({
    "Name": ["Alice", "Bob", "Clair"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "male", "Female"]
})

# Print the DataFrame
print("DataFrame:")
print(df_data)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
DataFrame:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    male
2  Clair   27  Female

In [34]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#Ans-

'''Pandas provides a wide range of functions that can be used to manipulate data in a DataFrame. Here are some commonly used functions:

1. head() and tail(): Returns the first or last n rows of the DataFrame, respectively. These functions are useful for quickly inspecting the data in a DataFrame. 
For example, you might use head() to look at the first few rows of a DataFrame to make sure it was loaded correctly.

2. describe(): Generates descriptive statistics of the DataFrame, such as the count, mean, standard deviation, minimum, and maximum values for each column. 
This function can be useful for getting an overview of the data in a DataFrame.

3. groupby(): Groups the data in the DataFrame based on one or more columns, and applies an aggregate function to each group. 
This function is useful for calculating summary statistics by group. For example, you might use groupby() to group a DataFrame of sales data by product category, and then calculate the total revenue for each category.

4. pivot_table(): Creates a pivot table from the DataFrame. A pivot table is a summary table that shows the relationship between two or more variables. 
This function is useful for analyzing the relationship between multiple variables. For example, you might use pivot_table() to create a summary table that shows the average sales by product category and region.

5. merge(): Merges two DataFrames based on one or more common columns. This function is useful for combining data from multiple sources. 
For example, you might use merge() to combine a DataFrame of sales data with a DataFrame of customer data, based on a common customer ID column.

6. fillna(): Fills missing values in the DataFrame with a specified value or method. This function is useful for dealing with missing data. For example, you might use fillna() to replace missing values in a DataFrame of survey responses with the mean value of the column.

7. drop(): Drops specified rows or columns from the DataFrame. This function is useful for removing unnecessary data from the DataFrame. 
For example, you might use drop() to remove columns from a DataFrame that are not relevant to your analysis.

These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame. 
The choice of function depends on the specific requirements of your analysis.'''


df2.head()

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    male
2  Clair   27  Female

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#Ans-

'''In Pandas, both Series and DataFrame are mutable in nature, meaning that their values can be modified after they are created. 
However, Panel is considered deprecated in Pandas version 1.0.0 and above and replaced by MultiIndex.
Therefore, it is recommended to use MultiIndex instead of Panel.'''

In [35]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
#Ans-

'''To create a DataFrame using multiple Series in Pandas, we can pass a dictionary of Series objects to the DataFrame constructor. 
Each Series will become a column in the DataFrame, and the keys of the dictionary will become the column names. Here's an example:'''

import pandas as pd

# create a series for each column
names = pd.Series(['Alice', 'Bob', 'Clair'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# create a dictionary of series
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

In [ ]:
#In the above example, we first create three Series objects: names, ages, and genders. 
#We then create a dictionary called data that contains these Series objects, with the keys of the dictionary representing the column names in the resulting DataFrame. 
#Finally, we pass the data dictionary to the pd.DataFrame() constructor to create a DataFrame with the specified columns.